# comment

# Function
snippet clj "console.log"
	console.log("==================================");
	console.log("${1:title}");
	console.log("==================================");
	console.log(${2:object});
	console.log("==================================");
